body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,html{margin:0;padding:0}
body{font:12px "微软雅黑","Arial Narrow",HELVETICA;background:#f4f1f1;-webkit-text-size-adjust:100%}
a{
    text-decoration: none;
}
em{font-style:normal}
li{list-style:none}
input{border: none}